@using System.Web.Http
@model IEnumerable<WebApiService.Code.CommandControllerDescriptor>
           
@{
    ViewBag.Title = "API Information";
}

<div id="body">
    <h1>API Information:</h1>
    
    @foreach (var descriptor in this.Model)
    {
        <div class="api">
            <h2>api/@descriptor.ControllerDescriptor.ControllerName/@descriptor.Action</h2>
            <div>Method: <b>@descriptor.Method</b></div>
            <div>Parameters:</div>
            <ul>@foreach (var parameter in descriptor.GetWebApiParameters())
            {
                <li><span>@parameter.Name:</span> <span>@parameter.Type.FullName</span></li>
            }</ul>    
        </div>
    }
</div>