<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">

    Get a complete description of the API <a href="/home/api">here</a>.<br />

    <h1>Test the Web API here:</h1>
    
    <h2>Create order:</h2>
    <form action="api/orders/createOrder" method="post">
        <input type="text" name="ShippingAddress.Country" value="Country" />
        <input type="text" name="ShippingAddress.City" value="City" />
        <input type="text" name="ShippingAddress.Street" value="Street" />
        <input type="submit" value="Submit" />
    </form>

    <h2>Ship order:</h2>
    <form action="api/orders/shipOrder" method="post">
        <input type="text" name="OrderId" value="dc684e20-bb05-49e3-bcf9-e481a251737e" />
        <input type="submit" value="Submit" />
    </form>

    <h3>Get Unshipped Orders For Current Customer</h3>
    <form action="api/orders/getUnshippedOrdersForCurrentCustomer" method="get">
        <input type="text" name="PageIndex" value="0" />
        <input type="text" name="PageSize" value="10" />
        <input type="submit" value="Submit" />
    </form>
</div>
